
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
main {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    @media only screen and (min-width: 768px) {
        flex-direction: row;
    } 
}
.hangman-display {
    display: flex;
    flex-direction: column;
}
.hangman-display img {
    @media only screen and (min-width: 768px) {
        min-width: 280px;
        min-height: 350px;
        max-width: 280px;
        max-height: 350px;
    }
}
.no-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
#word-display {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    margin-bottom: 5%;
    @media only screen and (min-width: 768px) {
        font-size: 50px;
    }
}
#keyboard-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 340px;
    text-align: center;
    @media only screen and (min-width: 768px) {
        font-size: 20px;
        margin-top: 15%;
    }
}
.hidden {
    display: none;
}
#counter-area {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    align-content: center;
    @media only screen and (min-width: 768px) {
        margin-top: 15%;
    }
}
#counter {
    display:flex;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    all: unset;
    border-radius: 18px;
    border: solid 2px white;
    padding: 10px;
    cursor: pointer;
}
button:hover {
    background-color: white;
    color: black;
    transition-duration: 0.4s;
}
